<div>
    <p><strong>AI Tool Name:</strong> {{ tool.ai_tool_name }}</p>
    <p><strong>Description:</strong> {{ tool.descriptions }}</p>
    <p><strong>Payment Condition:</strong> {{ tool.payment_condition }}</p>
    <p><strong>Useable For:</strong> {{ tool.useable_for }}</p>
    <p><strong>Charges:</strong> {{ tool.charges }}</p>
    <p><strong>Review:</strong> {{ tool.review }}</p>
    <p><strong>Tool Link:</strong> <a href="{{ tool.tool_link }}" class="tool-link" target="_blank">Link</a></p>
    <p><strong>Major Category:</strong> {{ tool.major_category }}</p>
    <p><strong>View Count:</strong> {{ tool.view_count }}</p>
</div>