{% extends "base/base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">AI Tools Count</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <h3 class="text-white">{{ai_tool_count}}</h3>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Major Categories</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <h3 class="text-white">{{major_category_count}}</h3>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Usable For</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <h3 class="text-white">{{useable_for}}</h3>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Most Viewed : {{max_tool_name}}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <h3 class="text-white">{{max_view_count}}</h3>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Area Chart Example
                </div>
                <div class="card-body">
                    <canvas id="myAreaChart" width="100%" height="40"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body">
                    <canvas id="myBarChart" width="100%" height="40"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-stretch">
        <div class="col-xl-8">
            <div class="card mb-4 h-100"> <!-- Added h-100 -->
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Pie Chart Example
                </div>
                <div class="card-body" id="pieChartContainer" data-update-url="{% url 'update_pie_chart' %}">
                    <canvas id="myPieChart" width="100%" height="50"></canvas>
                </div>
                <!--                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
            </div>
        </div>
        <div class="col-xl-4">
            <form id="csrfForm">
                {% csrf_token %}
            </form>
            <div class="card mb-4 h-100"> <!-- Added h-100 -->
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Filter Pie Chart By Major Categories
                </div>
                <div class="card-body">
                    {% for category in major_categories %}
                    <div>
                        <input type="radio" name="major_category" value="{{ category }}"
                               id="category_{{ forloop.counter }}"
                               {% if category == checkedVal %}checked{% endif %}
                               onchange="updatePieChart('{{ category }}')">
                        <!-- onchange event triggers chart update -->
                        <label for="category_{{ forloop.counter }}">{{ category }}</label>
                    </div>
                    {% endfor %}
                </div>
                <!--                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
            </div>
        </div>
    </div>
    <br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Tools Name</th>
                    <th>Category</th>
                    <th>Payment</th>
                    <th>Useable For</th>
                    <th>Charges</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Tools Name</th>
                    <th>Category</th>
                    <th>Payment</th>
                    <th>Useable For</th>
                    <th>Charges</th>
                    <th>Action</th>
                </tr>
                </tfoot>
                <tbody>
                {% for tool in ai_tools %}
                <tr>
                    <td>{{ tool.ai_tool_name }}</td>
                    <td>{{ tool.major_category }}</td>
                    <td>{{ tool.payment_condition }}</td>
                    <td>{{ tool.useable_for }}</td>
                    <td>{{ tool.charges }}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#toolModal" data-id="{{ tool.id }}">Details
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
<script>
  var toolCountByCategory = JSON.parse('{{ toolCountByCategory|escapejs }}');
  console.log(toolCountByCategory);


</script>